.contact {
  padding-top: 32px;
  padding-bottom: 28px;
  background: url("http://localhost:3000/images/companies/bg-map.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.contact__title h6 {
  color: #ff5d22;
  font-size: 18px;
  margin-bottom: 8px;
}

.contact__title h3 {
  color: #524552;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 16px;
}

.contact__title p {
  color: #554955;
  font-weight: 300;
  line-height: 1.8;
  font-size: 18px;
  margin-bottom: 8px;
}

.contact__list {
  list-style: none;
  padding-left: 0;
  margin-top: 40px;
}

.contact__info-icon {
  position: relative;
  border: 1px dashed #ff5d22;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact__info-icon img {
  height: 32px;
  object-fit: contain;
}

.contact__info-icon::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ff5d22;
  margin: 6px;
  border-radius: 50%;
  z-index: -1;
}

.contact__info {
  flex: 1;
}

.contact__info h4 {
  color: #524552;
  font-weight: 600;
  font-size: 22px;
}

.contact__info p,
.contact__info a {
  color: #554955;
  font-weight: 400;
  line-height: 1.8;
  display: block;
  width: fit-content;
  text-decoration: none;
  transition: all 0.25s linear;
}

.contact__info a:hover {
  color: #ff5d22;
}

.contact__social {
  padding-left: 90px;
}

.contact__social li a {
  background: #f1f4f4;
  padding: 16px;
  border-radius: 50%;
  text-align: center;
  display: block;
  transition: all 0.25s linear;
}

.contact__social li a:hover {
  background-color: #ff5d22;
}

.contact__social li a:hover > svg {
  color: white;
}

.contact__social li a > svg {
  color: #ff5d22;
  width: 22px;
  height: 22px;
  object-fit: contain;
  transition: all 0.25s linear;
}

.contact__form .form-control {
  height: 56px;
  border: none;
  box-shadow: 0px 5px 28.5px 1.5px rgb(149 152 200 / 20%) !important;
  font-size: 18px;
}

.contact__form textarea.form-control {
  height: auto;
  padding-top: 24px;
}

.contact__form .form-btn {
  color: #fff;
  background-color: #ff5d22;
  font-weight: 600;
  box-shadow: 0px 5px 28.5px 1.5px rgb(149 152 200 / 50%) !important;
}

.contact__form .form-btn:hover {
  background-color: #524552;
}

@media only screen and (max-width: 767px) {
  .contact__title h6 {
    font-size: 16px;
  }

  .contact__title h3 {
    font-size: 28px;
  }

  .contact__info-icon {
    height: 64px;
    width: 64px;
  }

  .contact__info-icon img {
    height: 24px;
  }

  .contact__info h4 {
    font-size: 18px;
  }

  .contact__info p,
  .contact__info a {
    font-size: 16px;
    line-height: 1.5;
  }

  .contact__form .form-btn {
    font-weight: 600;
    font-size: 18px;
    padding: 12px 20px;
  }
  
  .contact__social li a {
    padding: 12px;
  }

  .contact__social li a > svg {
    width: 20px;
    height: 20px;
  }
}
