.join {
  position: relative;
  padding: 140px 16px;
}

.join::before {
  content: "";
  position: absolute;
  background-color: #524552;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.65;
  z-index: 0;
}

.join__content {
  position: relative;
  z-index: 1;
  text-align: center;
}

.join__content h2 {
  color: #ffffff;
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 24px;
}

.join__content p {
  color: #ffffff;
  margin-bottom: 20px;
}

.join__content button {
  background-color: #ff5d22;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  transition: all 0.25s ease-in-out;
}

.join__content button:hover {
  background-color: #ffffff;
  color: #ff5d22;
}

.join__content button svg {
  width: 20px;
  height: 20px;
}

@media only screen and (max-width: 767px) {
  .join {
    padding: 120px 0;
  }
  .join__content h2 {
    font-size: 28px;
  }

  .join__content button {
    font-size: 16px;
  }
}

@media only screen and (max-width: 575px) {
  .join {
    padding: 90px 0;
  }
  .join__content h2 {
    font-size: 20px;
  }

  .join__content p,
  .join__content button {
    font-size: 14px;
  }
}
